PORT="3210"

ENVIRONMENT="development"
APP_NAME="base_nestjs_backend"
APP_VERSION="1.0.0"
LOG_LEVEL="debug" #all, trace, debug, info, warn, error, fatal, mark, off
LOG_MODE="log4js" #log4js, loki
LOG_DIR="./logs"
LOG_NAME="base_nestjs_backend"
LOKI_URL="http://localhost:3100/loki/api/v1/push"

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USERNAME="postgresusr"
POSTGRES_PASSWORD="postgrespwd"
POSTGRES_DATABASE="postgresdb"
POSTGRES_SYNCRONIZE="false"
POSTGRES_LOGGING="false"
POSTGRES_MIGRATIONSRUN="false"
POSTGRES_MAXEXECUTIONTIME="30000"
POSTGRES_CONNECTIONNAME="postgres"

JWT_SECRET="mi_secret_key"
JWT_EXPIRESIN="900000"
JWT_REFRESH_SECRET="mi_refresh_secret_key"
JWT_REFRESH_EXPIRESIN="3600000"